[submodule "lfpp"]
	path = lfpp
	url = https://github.com/LuaFoxYT/LuaFox-Platforn-Core.git
[submodule "lfdev"]
	path = lfdev
	url = https://github.com/LuaFoxYT/LuaFox-Runtime-Develoupment-Program.git
[submodule "lfpk"]
	path = lfpk
	url = https://github.com/LuaFoxYT/LFPK-lfrt.git
